.item {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.item > button {
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(67, 53, 50);
  cursor: pointer;
}
.item > div {
  margin-left: 2%;
  width: 90%;
}
.item > div > * {
  font-size: 1.3rem;
  color: white;
}
.item > div > button {
  color: red;
  background-color: rgb(67, 53, 50);
  border: none;
  margin-left: 5%;
}
.item > div > button:hover {
  cursor: pointer;
  color: brown;
}
